body {
    background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu {
    background-image: linear-gradient(135deg,rgb(24,42,115) 0%,rgb(33,138,174) 69%,rgb(32,167,172) 89%) !important;
}

.react-calendar {
    width: 100%;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

.react-datepicker-wrapper {
    width: 100%;
}

.right-aligned-comment {
    text-align: right;
}

.chatbox-container {
    position: relative;
    height: 365px !important;
    overflow-y: auto;
    max-width: inherit !important;
}

/*.inbox2_GC {
        position: relative;
        height: 300px !important;
        overflow-y: auto;
    }*/

.chatPreviewMessage {
    font-weight: bold !important;
    color: black !important;
}

html, body {
    min-height: 100%;
}

.back-to-bottom-button {
    position: absolute;
    bottom: 0;
}

.ChatBobContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    position: relative;
    color: white;
    text-align: center;
    height: 300px;
}

.image_Container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("https://images.unsplash.com/photo-1533139143976-30918502365b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
    background-position: center center;
}

.back-to-bottom-container {
    position: sticky;
    bottom: 0;
    display: none;
    justify-content: center;
    z-index: 1;
}

    .back-to-bottom-container.visible {
        display: flex;
    }

    .back-to-bottom-container.hidden {
        display: none;
    }

    .back-to-bottom-container.count {
        bottom: 35px;
    }

.badgeStyle {
    display: inline-block;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 4px;
}

.sent-message {
    justify-content: flex-end !important;
}

.received-message {
    justify-content: flex-start !important;
}


.messagesSegment {
    margin: 0px !important;
}

.messageRow {
    padding: 3px 0px 0px 0px !important;
}

.messageColumn {
    width: 50% !important;
}

.messageGroupHeader {
    margin-bottom: 10px !important;
}

.no-bullet {
    list-style-type: none !important;
}


.avatar-margin {
    margin-left: 3.5em;
}

.messageCardDate {
    margin-left: 0;
    color: rgba(0,0,0,.4);
    font-size: .875em;
    text-align: right;
}

.contentRow {
    padding-top: 72px !important;
    padding-bottom: 0px !important;
}

.chatMenu {
    overflow-y: auto;
    height: 625px;
}

.menuContent {
    padding: 0px !important;
}

.dropDownSearch {
    border: none !important;
    box-shadow: none !important;
}

.custom-dropdown:hover {
    background-color: white; /* Change background color to white on hover */
}

.meta {
    display: flex; /* Arrange elements horizontally */
    justify-content: space-between; /* Distribute elements evenly */
    align-items: center; /* Align vertically */
    color: rgba(0, 0, 0, 0.6); /* Grey text color */
    font-size: 0.8em; /* Slightly smaller font */
    margin-top: 0.5em; /* Add some space above the meta information */
}

    .meta span { /* Style the time text */
        margin-right: 1em; /* Add margin between time and buttons */
    }

.customDropdonwnPadding {
    padding: 0px 16px 5px 16px !important;
}

.rightAlignedDropdown {
    left: 250px; /* Remove default left positioning */
    right: 0; /* Set right position to 0 */
}

.notification-link {
    text-decoration: none;
    cursor: pointer;
}

    .notification-link:focus {
        outline: none;
    }

    .notification-link:hover {
        text-decoration: none;
    }

    .notification-link:active {
        text-decoration: none;
    }

    .notification-link:focus,
    .notification-link:hover {
        color: gray; /* Change color to desired color */
        background-color: #f0f0f0; /*Change background color to desired color */
        border: 1px solid #ccc; /*Add border for button-like appearance */
        border-radius: 3px; /*Add border radius for button-like appearance */
        padding: 4px 8px; /*Add padding for button-like appearance */
    }

/* Hide the dropdown by default */
.notification-dropdown {
    display: none;
}

/* Show the dropdown only when the specific notification segment is hovered */
.notification-segment:hover .notification-dropdown {
    display: block;
}



/*.comment-group-width {
    width: 100% !important;
}*/
/*home page styles*/
.masthead {
    display: flex;
    align-items: center;
    background-image: linear-gradient( 135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89% ) !important;
    height: 100vh;
}

    .masthead .ui.menu .ui.button,
    .ui.menu a.ui.inverted.button {
        margin-left: 0.5em;
    }

    .masthead h1.ui.header {
        font-size: 4em;
        font-weight: normal;
    }

    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }

.ui.active.button {
    background-color: #207BA5
}


/*end home page styles*/
.no-caret > .dropdown.icon:before {
    display: none !important;
}
